
header {
    background-color: deepskyblue;
}
h2 {
    background-color: rgb(185, 65, 225);
    color: rgb(24, 24, 143);
}
body {
    background-color: rgb(85, 9, 237);
}

h3 {
    background-color: aquamarine;
   color: rgb(255, 0, 208);
}